
<section id="plans">
	<div *ngIf = "teams" class="container">
		<div class="row">
			<div *ngFor = "let team of teams.teams" class="col-md-4 text-center ">
				<div class="panel panel-danger panel-pricing">
					<div class="panel-heading">
						<img class= "img" src="{{ team.crestUrl}}" alt="" height="45" width="45">
					</div>
					
					<div class="panel-body text-center">
						<h3> 
							<a (click) = "goToDetail(team)" >
								{{ team.name }}
							</a>
						</h3>
						<p *ngIf = "checkCode(team)">Code:<strong>{{team.code}}</strong></p>
						<p *ngIf = "!checkCode(team)">Code: <strong>----</strong></p>
					</div>
					<ul *ngIf = "checkValue(team)"class="list-group text-center">
						<li class="list-group-item"><i class="fa fa-check"></i> Team Value: {{team.squadMarketValue}}</li>
					</ul>
					<ul *ngIf = "!checkValue(team)"class="list-group text-center">
						<li class="list-group-item"><i class="fa fa-check"></i> Team Value: unknown</li>
					</ul>
					<div class="panel-footer">
						<button (click) = "goToFixtures(team)" class = "btn btn-lg btn-block btn-primary" >Fixtures</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


